fastapi==0.115.12
uvicorn==0.34.2
gradio==5.30.0

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.61
langchain-text-splitters==0.3.8
langchain-ollama

ollama
chromadb

sentence-transformers
unstructured[pdf]
pytesseract

requests
